body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: lightgray;
	background-image: url("img/maxresdefault.jpg")
	background-repeat: no-repeat;
    background-position: center; 
}

#top {
	background: rgba(0, 0, 0, 0.5);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
	margin-top: 25%;
	text-align: center;
	background-position: 50% 0;
	color: white;
	padding: 10px;
}

#login-container {
	margin-top: 25%;
}

#login {
	margin-top: 10%;
}